/**
 * RISE Custom Overlay Example
 *
 * Purpose:
 * - Demonstrates custom overlay elements positioning
 * - Shows how to create custom header/footer classes
 * - Illustrates absolute positioning techniques
 *
 * Usage:
 * 1. Place this file in: rise/examples/overlay.css
 * 2. Configure notebook metadata with custom classes:
 *    {
 *      "rise": {
 *        "overlay": "<div class='myheader'>Header</div><div class='myfooter'>Footer</div>"
 *      }
 *    }
 */

/* Custom header with blue background */
div.myheader {
  position: absolute;
  margin: 30px;
  left: 8%;
  background: blue;
  font-size: xx-large;
}

/* Custom footer with red background */
div.myfooter {
  position: absolute;
  background: red;
  font-size: 120%;
  right: 10%;
}
